.grid.postcard {
    margin: 0 auto;
    max-width: 750px;
    padding-bottom: 2rem;
}

.postcard .form {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    position: relative;
}

.postcard .form .postbutton {
    align-self: flex-end;
}

.paper .droparea {
    background-color: #fff;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    height: auto;
    min-height: auto;
}

.paper .droparea p {
    color: #b8b8b8;
    margin: 0;
}

.paper .droparea > div > svg {
    display: none;
}

.paper .droparea > div {
    margin: 0;
    width: auto;
}

.paper .droparea > div,
.paper .droparea > div > div > img {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-basis: 100%;
    padding: 0;
}